<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center mt-3">
        <h5>Student Name</h5>
        <p>Guangxing Zhu</p>
        <p>ID: 32597517</p>
      </div>
      <div class="col-md-4 text-center mt-3">
        <h5>About US</h5>
        <p>This is a Single Page Application (SPA) designed by MEAN STACK</p>
      </div>
      <div class="col-md-4 text-center mt-3">
        <h5>Contact US</h5>
        <p>Email: your-monash-email&#64;student.monash.edu</p>
        <p>Student ID: PR65236</p>
        <p>Phone: +614123456</p>
        <p>Address: Monash University Clayton Campus</p>
      </div>
    </div>
  </div>
</footer>
