<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">App Statistics</h3>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Insert</td>
                <td>{{ statistics.insert }}</td>
              </tr>
              <tr>
                <td>Delete</td>
                <td>{{ statistics.delete }}</td>
              </tr>
              <tr>
                <td>Update</td>
                <td>{{ statistics.update }}</td>
              </tr>
              <tr>
                <td>Retrieve</td>
                <td>{{ statistics.retrieve }}</td>
              </tr>
              <tr>
                <td>Drivers</td>
                <td>{{ statistics.drivers }}</td>
              </tr>
              <tr>
                <td>Packages</td>
                <td>{{ statistics.packages }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
